.combos_main{
    max-width: 414px;
    width: 100%;
}

.combos_main-section-article {
    width: 100%;
    text-align: center;
    padding-top: 50px ;

}

.combos_main-section-article img{
    width:200px ;
    height: 240px;
}
.combos_productos{
    display: flex;
    flex-wrap: wrap;
    flex-direction:row-reverse;
    width: 80%;
}
@media(min-width:415px ) {
    .combos_main{
        max-width: 100%x;
        width: 100%;
    }
    
    .combos_main-section-article {
        width: 100%;
        text-align: initial;
        padding-top: 50px ;
    
    }
    
    .combos_main-section-article img{
       width:100px;
       height: 40px;
       margin: 20px;
      
    }
    .combos_productos{
       
        
        width: 80%;
    }
    .combos_menu_destacados-imagenes-div{
        width: 100%;
        display: flex;
    }
    .combos_menu_destacados-imagenes-div article{
     
        flex-wrap: wrap;
        flex-direction:row-reverse;
        width: 23%;
        position: relative;
        right: -180px;
        bottom: 270px;
    }
    .combos_main-section-img-letra{
        padding-left: 20px;
    }

    .combos_menu_destacados-imagenes-div a{
        left: 15px;
    }

}
@media(min-width: 780px) {

    .combos_menu_destacados-imagenes-div article{
     
        flex-wrap: wrap;
        flex-direction:row-reverse;
        width: 50%;
        position: relative;
        left: 250px;
        bottom: 270px;
    }
    .combos_main-section-article img{
        width:200px;
        height: 170px;
        margin: 20px;
       
     }
    .combos_main-section-img-letra{
        padding-left: 20px;
    }

    .combos_menu_destacados-imagenes-div a{
        left: 15px;
    }


}