<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head',{ title : "mateartips" }) %>

    <body>
        <%- include('../partials/header') %>
            <main class="matetips_main">
                <h1 class="matetips_main-h1">CINCO CLAVES PARA HACER UN BUEN MATE</h1>
                <p class="matetips_main-p"> Ya sea por la mañana, por la tarde, solos, con amigos, en el trabajo o leyendo unos apuntes, el mate
                    está siempre presente.

                    Todos nos sentimos acompañados con un buen mate, incluso en estos tiempos, en los que rara vez
                    podemos compartirlos y cada uno lleva el propio a una reunión.

                    Por eso, saber cebar un buen mate es algo por lo que uno se puede sentir bien orgulloso. Y para
                    todos aquellos que siempre quisieron aprender cómo hacer unos ricos mates, acá les traemos 5 claves
                    para cebar el mate perfecto.
                </p>


                <h4 class="matetips_main-h4">Tips para el mate perfecto:</h4>
                <ul class="matetips_main-ul">
                    <li class="matetips_main-li">1. Tener la temperatura del agua ideal.</li>
                    <p class="matetips_main-ul-p">El agua tiene que estar a unos 70 u 80 ºC, es decir, entre unos 20 y 25 grados por debajo del
                        punto de ebullición. ¡Lo mejor es tener una pava eléctrica para regularlo!</p>
                    <li class="matetips_main-li"> 2. Elegir bien el mate.</li>
                    <p class="matetips_main-ul-p">Lo ideal es que el mate tenga base angosta y boca ancha, porque se necesita una gran superficie
                        para poder cebar correctamente.
                    </p>
                    <li class="matetips_main-li">3. Curar las bombillas.</li>
                    <p class="matetips_main-ul-p">¡Cada 15 días hay que curar las bombillas! Colocalas en un recipiente con agua fría y una
                        cucharada chica de bicarbonato de sodio, y llevala al fuego durante media hora.
                    </p>
                    <li class="matetips_main-li">4. Cuidar el armado.</li>
                    <P> Llenar el mate ¾ partes de su capacidad, después agitar y asegurarse de que quede toda la yerba
                        recostada sobre una pared del mate, en forma oblicua. En la parte donde hay menos yerba
                        infusionar con algo de agua y en ese mismo sector es donde deberás colocar la bombilla.
                    </P>
                    <li class="matetips_main-li"> 5. Cebar en forma pendular.</li>

                    <p class="matetips_main-ul-p">Cebar infusionando solo la mitad, del lado que está la bombilla. Hacerlo de forma pendular y con
                        cierta distancia para que el agua junte oxígeno y así se produzca mayor espumosidad. Lo que se
                        recomienda es mojar solo la mitad de la yerba y reservar la otra mitad para cuando el mate este
                        lavado. En ese momento es cuando hay que empezar a cebar, sin mover la bombilla, del lado en que
                        la yerba había quedado seca.

                        ¡Listo! Ya conocés las claves para un buen mate, ¡ahora queda en vos ponerlas en práctica!

                        ¿Conocés algún otro tip? ¡Pasale esta nota a ese amigo que siempre te ceba los mejores mates,
                        para ver si está de acuerdo!

                    </p>
                </ul>


            </main>
            <%- include('../partials/footer') %>
    </body>

</html>