<link rel="stylesheet" href="/public/stylesheets/banner.css">

<div class="home_main_banner">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="swiper mySwiper">
                    <div class="swiper-wrapper">
                        <!-- video -->
                        <div class="swiper-slide">
                            <video autoplay muted loop class="video-fluid" id="mainVideo">
                                <source src="../video/video01.mp4" type="video/mp4">
                                Tu navegador no admite la etiqueta de video.
                            </video>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    // Reproducir el video automáticamente al cargar la página
    document.addEventListener('DOMContentLoaded', function () {
        var mainVideo = document.getElementById('mainVideo');
        mainVideo.play();
    });
</script>
