
<article class="combos_main-section-article">
    <img class="combos_main-section-img" src="../images/productos/<%= product.image %>" alt="">
    <br>
    <h2 class="combos_main-section-img-letra"><%= product.name %></h2>
    <div class="combos_main-section-div-letra">
      <h3 class="combos_main-section-img-letra-h3"> </h3>                    
      <h4 class="combos_main-section-img-letra-h4">$<%= product.price %></h4>
    </div>
    <p class="combos_main-section-img-letra-p"><%= product.description %></p>
  </article>