<footer class="footer">
    <section class="footer_section_navegacion">
        <h3>navegacion</h3>
        <ul>
            <li><a href="/">inicio</a></li>
            <li><a href="/productos">productos</a></li>
            <li><a href="/mates_personalizados">mates personalizados</a></li>
            <li><a href="/#mateartips">#mateartips</a></li>
            <li><a href="/contacto">contacto</a></li>
            <li><a href="/preguntas_frecuentes">preguntas frecuentes</a></li>
        </ul>
    </section>
    <div class="footer_div_pago-envio">

        <section class="footer_section_pago">
            <h3>metodos de pago</h3>
            <div>
                <img src="../images/visa.png" alt="visa">
                <img src="../images/mastercar.png" alt="mastercar">
                <img src="../images/naranja.png" alt="naranja">
                <img src="../images/cabal.png" alt="cabal">
            </div>
            <div>
                <img src="../images/america_express.png" alt="express">
                <img src="../images/nativa.jpg" alt="nativa">
                <img src="../images/argencard.png" alt="argencard">
                <img src="../images/shopping.jpg" alt="shopping">
            </div>
        </section>
        <section class="footer_section_envio">
            <h3>formas de envio</h3>
            <img src="../images/oca.png" alt="oca">
            <img src="../images/correo_argentino.png" alt="correo">

        </section>
    </div>

    <section class="footer_section_contacto">
        <h3>contacto</h3>
        <p>
            <a href="11396759823 "> <i class="fa-solid fa-phone"></i> 1396759823</a>
        </p>
        <p>
            <a href="amando.mateando@gmail.com"><i class="fa-solid fa-at"></i> ando_mateando@gmail.com</a>
        </p>
        <p>
            <a href="avenida.del.mate"><i class="fa-solid fa-location-dot"></i> avenida del mate 5</a>
        </p>

    </section>

    <class class="footer_section_redes">
        <h3>redes sociales </h3>
        <div class="footer_section_redes_div">
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-whatsapp"></i>
            <i class="fa-brands fa-twitter"></i>
        </div>
        <section class="footer_section_redes_div">
            <div class="footer_section_redes_div-correo">

                <i class="fa-regular fa-envelope"></i>

                <textarea class="footer_section_redes_div-correo-textarea" id="message" class="input"
                    name="message">dejanos tu mensaje:</textarea><br />
                <span id="message_validation" class="error_message"></span>
            </div>

        </section>
    </class>
    </section>


</footer>