<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- titulo -->
    <title>Ando Mateando</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <!-- fontawesome -->
    <script src="https://kit.fontawesome.com/246b141a4f.js" crossorigin="anonymous"></script>
    <!-- styles custom -->
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />
    <!-- styles custom -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
   
</head>