<section class="home_menu_destacados">
    <h3 class="home_menu_destacados-h3 mb-4 text-center">Categorías principales</h3>
    <ul class="list-group">
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <div class="text-center">
                <a href="/productos/todos_productos?type=5" class="text-decoration-none text-dark">Super combos</a>
            </div>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <div class="text-center">
                <a href="/productos/todos_productos?type=1" class="text-decoration-none text-dark">Mates</a>
            </div>
            <span class="badge bg-success rounded-pill">Oferta</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <div class="text-center">
                <a href="/productos/todos_productos?type=2" class="text-decoration-none text-dark">Termos</a>
            </div>
            <span class="badge bg-warning rounded-pill">Popular</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <div class="text-center">
                <a href="/productos/todos_productos?type=3" class="text-decoration-none text-dark">Set yerbero</a>
            </div>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <div class="text-center">
                <a href="/mates_personalizados" class="text-decoration-none text-dark">Diseña tu equipo de mate</a>
            </div>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <div class="text-center">
                <a href="/productos/arma_tu_equipo" class="text-decoration-none text-dark">Arma tu set de mate</a>
            </div>
        </li>
    </ul>
</section>
